.App {
  text-align: center;
  font-family: 'Dejavu Sans Mono', monospace;
  background-color: rgb(150,212,212);
  color:rgb(40,42,53);
}

body{
  background-color: rgb(150,212,212);
  color:rgb(40,42,53);
}

.Form{
  text-align: center;
  align-items: center;
  margin: 2% auto;
  padding: 5px;
  background-color: rgb(150,212,212);
  color:hsl(230,13,18);
}

.Buttons{
  display: inline-flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  padding: 7px;
  margin: 5px auto;
  width: 250px;
  line-height: 1.5;
  font-weight: bolder;
  font-size: larger;
  color: rgb(40,42,53);
  background-color: rgb(150,212,212);
}
.Buttons:hover{
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25), 0 15px 50px 0 rgba(0,0,0,0.25);
}

hr{
  width: 50%;
  margin:auto;
  height: 7px;
  text-align: center;
  border-style: groove;
  background-color: rgb(40,42,53);
}

.Box{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
  padding: 7px;
  column-gap: 10px;
}